/*--------------------------------------
PAGE
---------------------------------------*/
.wrap .add-new-h2,
.wrap .page-title-action {
  position: relative;
  padding: 4px 8px;
  top: -1px;
  border: none;
  border-radius: 4px;
  background: #00BCD4;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 1rem;
}

.wrap .add-new-h2:hover,
.wrap .add-new-h2:active,
.wrap .page-title-action:hover,
.wrap .page-title-action:active {
  position: relative;
  padding: 4px 8px;
  top: -1px;
  border: none;
  border-radius: 4px;
  background: #34495e;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 1rem;
}

/*--------------------------------------
RIGHT SIDEBAR
---------------------------------------*/
#side-sortables .postbox .inside,
#side-sortables .stuffbox .inside {
    line-height: 1.4rem;
    font-size: 1rem;
}


/*--------------------------------------
ARTICLE
---------------------------------------*/
#minor-publishing-actions {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position:relative;
  width: 100%;
  padding: 0;
  margin: 0 0 1rem;
}

#save-action {
  display: block;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

#preview-action {
  display: block;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

input#save-post {
  display:inline-block;
  width:100%;
  border-radius:0;
  height: 40px;
}

#save-action .spinner {
  position:absolute;
  width: 100%;
  height: 41px;
  float:none;
  right: 0;
  top: 0;
  margin: 0;
  background: url(../../spinner.gif) no-repeat #fff;
  background-position: center;
  opacity: 1;
  z-index: 99999999;
}

#minor-publishing-actions .preview {
  display: inline-block;
  position:relative;
  box-sizing:border-box;
  padding:0;
  width: 100%;
  height:40px;
  background-color: #00BCD4;
  font-size:0;
  margin:0;
  border-radius:0;
}

#minor-publishing-actions .preview::before {
  display:block;
  position:absolute;
  width:100%;
  height:40px;
  font-family: dashicons;
  font-size:1.4rem;
  line-height:40px;
  content: "\f472";
  color:#fff;
  text-align:center;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.misc-pub-section {
  padding:0.6rem 1rem;
}

#misc-publishing-actions {
  padding: 0;
  font-size:0.8rem;
  margin: 0 0 1rem;
}


#major-publishing-actions {
  display:block;
  padding:0;
  width:100%;
  border: none;
}

#delete-action {
  display: inline-block;
  position:relative;
  box-sizing:border-box;
  padding:0;
  width: 100px;
  height:40px;
  font-size:0;
  margin:0;
}

.submitbox .submitdelete::before {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:40px;
  font-family: dashicons;
  font-size:1.4rem;
  line-height:40px;
  content: "\f182";
  color:#fff;
  text-align:center;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FF5722;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#publishing-action {
  display:inline-block;
  width:calc(100% - 100px);
  float: none;
  height:40px;
}

input#publish {
  width:100%;
  border-radius:0;
  height: 40px;
}

#publishing-action .spinner {
  position: absolute;
  width: 100%;
  height: 41px;
  float: none;
  right: 0;
  bottom: -1px;
  margin: 0;
  background: url(../../spinner.gif) no-repeat #fff;
  background-position: center;
  opacity: 1;
  z-index: 99999999;
}

#wpseo-score:not(.column-wpseo-score) {
  display: block;
  position: absolute;
  right: 10px;
  top: 60px;
  margin: 0;
  float: none;
}

#edit-slug-box {
  margin-top:0;
}

#edit-slug-buttons {
  display:inline-block;
  position:relative;
}

#edit-slug-buttons .button,
#edit-slug-buttons .cancel,
#edit-slug-buttons .button.edit,
#edit-slug-buttons .button.save {
  position:relative;
  font-size: 12px;
  font-weight: 600;
  color: #555;
  line-height: 30px;
  padding: 0 0 0 30px;
  background: none;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  vertical-align: baseline;
}

#edit-slug-buttons .button::before,
#edit-slug-buttons .cancel::before,
#edit-slug-buttons .button.edit::before,
#edit-slug-buttons .button.save::before {
  display: inline-block;
  position: absolute;
  top:3px;
  left: 0;
  font-family: dashicons;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  speak: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#edit-slug-buttons .button.edit-slug::before {
  content: "\f464";
  color: #009688;
}

#edit-slug-buttons .button.edit::before {
  content: "\f464";
  color: #FF5722;
}

#edit-slug-buttons .button.save::before {
  content: "\f147";
  color: #8BC34A;
}

#edit-slug-buttons .cancel::before {
  content: "\f158";
  color: #FF5722;
}


#edit-slug-buttons .button:hover:before,
#edit-slug-buttons .cancel:hover:before,
#edit-slug-buttons .button.edit:hover:before,
#edit-slug-buttons .button.save:hover:before {
  opacity:1;
}


#poststuff .inside {
  padding-bottom:1rem;
}


/*--------------------------------------
ARTICLE CATEGORY TABS
---------------------------------------*/
#categorydiv .inside {
  padding:0;
}

.categorydiv div.tabs-panel,
.customlinkdiv div.tabs-panel,
.posttypediv div.tabs-panel,
.taxonomydiv div.tabs-panel,
.wp-tab-panel {
  min-height: 80px;
  max-height: 200px;
  overflow: auto;
  margin: 0 1rem;
  border: none;
}

.wp-tab-active,
ul.add-menu-item-tabs li.tabs,
ul.category-tabs li.tabs {
  border:none;
  font-weight: 600;
  border-bottom: none;
}

ul.category-tabs {
  display: block;
  position: relative;
  margin: 0 1rem;
  border-bottom: solid 2px #78CAC2;
}

ul.category-tabs li {
  display: inline-block;
  position: relative;
  padding: 5px;
  border: none;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 0;
}


.taxonomy-add-new {
  display:block;
  box-sizing:border-box;
  width: 100%;
  padding: 8px;
  border-radius: 0;
  background-color: #FFC107;
  color: #fff;
  text-decoration:none;
  text-align: center;
  margin-bottom: 0;
}

.taxonomy-add-new:hover {
  color:#fff;
  background-color: #ECB50F;
}

.category-add {
  padding: 1rem;
  margin: 0;
  background-color: #F5F5F5;
}

.category-add .button {
  width:100%;
}

/*--------------------------------------
ARTICLE TAGS
---------------------------------------*/
.tagsdiv {
  display:block;
  width:100%;
}

.ajaxtag {
  display:block;
  position:relative;
  line-height: 1rem;
  margin:0;
  min-height: 30px;
}

.tagsdiv .newtag {
  max-width: 150px;
  margin: 0;
}

.tagsdiv .tagadd {
  padding: 0;
  width: 70px;
  height:29px;
  font-size:0.8rem;
  margin-left:10px;
}

#poststuff .tagsdiv .howto {
  display:block;
  position:relative;
  width:100%;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 1rem;
}

/*--------------------------------------
POST IMAGE
---------------------------------------*/
#postimagediv .inside {
  padding:0 0 20px 0;
}

#set-post-thumbnail,
#remove-post-thumbnail {
  padding:0 20px;
}
