body:not(iframe):after {
  display:block;
  position:fixed;
  content:'';
  top:0;
  left:0;
  width:100vw;
  height: 309px;
  z-index:-9;
}

body.admin-color-sunrise:not(iframe):after {
    background-color:#cf4944;
}

body.admin-color-ocean:not(iframe):after {
    background-color:#738e96;
}

body.admin-color-midnight:not(iframe):after {
    background-color:#363b3f;
}

body.admin-color-ectoplasm:not(iframe):after {
    background-color:#523f6d;
}

body.admin-color-coffee:not(iframe):after {
    background-color:#59524c;
}

body.admin-color-blue:not(iframe):after {
    background-color:#52accc;
}

body.admin-color-light:not(iframe):after {
    background-color:#e5e5e5;
    background: linear-gradient(135deg, #fff 0%, #f5f5f5 100%);
}

body.admin-color-fresh:not(iframe):after {
    background-color:#23282d;
}
