/*--------------------------------------
COMPONENTS
---------------------------------------*/
input[type=text],
input[type=password],
input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=radio],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
input[type=search],
select,
textarea {
    border: solid 1px #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    color: #555;
    outline: 0;
    transition: .2s border-color ease-in-out;
}

input[type=checkbox],
input[type=radio] {
  border: 1px solid #b4b9be;
}

.description {
    font-size: 0.9rem!important;
}

input[type=radio] {
    width:20px;
    height:20px;
}

input[type=radio]:checked:before {
    content: "\2022";
    text-indent: -9999px;
    border-radius: 50%;
    font-size: 1rem;
    width: 12px;
    height: 12px;
    margin: 3px;
    background-color: #1e8cbe;
}

input,
input.code {
    font-size:1rem;
    padding: 3px 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=search]:focus,
textarea:focus {
    box-shadow: none;
}

.media-frame input[type=text]:focus,
.media-frame input[type=password]:focus,
.media-frame input[type=number]:focus,
.media-frame input[type=search]:focus,
.media-frame input[type=email]:focus,
.media-frame input[type=url]:focus,
.media-frame select:focus,
.media-frame textarea:focus {
    box-shadow: none;
    outline: rgb(94, 158, 215) auto 5px;
    outline: -webkit-focus-ring-color auto 5px;
    border-color: transparent;
}

input[type=checkbox]:focus {
    box-shadow: none;
    outline: none;
}

select {
    cursor: pointer;
}

select:focus {
    box-shadow: none;
}

.search-box input[name="s"],
.tablenav .search-plugins input[name="s"],
.tagsdiv .newtag {
    height: 28px;
}

.wrap .add-new-h2 {
    background: #ff6669;
    color: white;
}

.wrap .add-new-h2:active {
    background: #333
}

.wrap .add-new-h2:hover {
    background: #ddd
}

input[type=checkbox]:checked {
    border:solid 2px;
}

.admin-color-sunrise input[type=checkbox]:checked {
    background-color:#cf4944;
    border:solid 2px #cf4944;
    color:#fff;
}
.admin-color-sunrise input[type=checkbox]:checked:before {
    color:#fff;
}

.admin-color-ocean input[type=checkbox]:checked {
    background-color:#738e96;
    border:solid 2px #738e96;
    color:#fff;
}
.admin-color-ocean input[type=checkbox]:checked:before {
    color:#fff;
}

.admin-color-midnight input[type=checkbox]:checked {
    background-color:#363b3f;
    border:solid 2px #363b3f;
    color:#fff;
}
.admin-color-midnight input[type=checkbox]:checked:before {
    color:#fff;
}


.admin-color-ectoplasm input[type=checkbox]:checked {
    background-color:#523f6d;
    border:solid 2px #523f6d;
    color:#fff;
}
.admin-color-ectoplasm input[type=checkbox]:checked:before {
    color:#fff;
}

.admin-color-coffee input[type=checkbox]:checked {
    background-color:#59524c;
    border:solid 2px #59524c;
    color:#fff;
}
.admin-color-coffee input[type=checkbox]:checked:before {
    color:#fff;
}

.admin-color-blue input[type=checkbox]:checked {
    background-color:#52accc;
    border:solid 2px #52accc;
    color:#fff;
}
.admin-color-blue input[type=checkbox]:checked:before {
    color:#fff;
}

.admin-color-light input[type=checkbox]:checked {
    background-color:#e5e5e5;
    border:solid 2px #e5e5e5;
    color:#333;
}
.admin-color-light input[type=checkbox]:checked:before {
    color:#333;
}

.admin-color-fresh input[type=checkbox]:checked {
    background-color:#23282d;
    border:solid 2px #23282d;
    color:#fff;
}
.admin-color-fresh input[type=checkbox]:checked:before {
    color:#fff;
}


input[type=checkbox]:checked:before {
    margin: -4px 0 0 -5px;
}

input[type=number].tiny-text {
    width: 70px;
}

.form-wrap p {
    font-size:0.9rem;
    margin: 1rem 0;
}

#editable-post-name input {
  height:100%;
}
